[Desktop Entry]
Type=Application
Version=1.0
Name=Imager
Comment=Kuiper Imager
Icon=kuiper-imager
Exec=kuiper-imager
Categories=Utility
StartupNotify=false
